@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");

:root {
    --bg-color: #242526;
    --typewriter-speed: 4s;
    --typewriter-chars: 11;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
 
}

body { color: rgba(255, 255, 255, 0.904); background-color: var(--bg-color);}

.wrapper{ width: 100%;height: 100%;}
.errorWrapper{ background: linear-gradient(180deg, var(--bg-color) 0% , #ff000061);}
.successWrapper{background: linear-gradient(180deg, var(--bg-color) 0% , #0080009e);}


.heading {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    position: relative;
    font-family: monospace;
    width: max-content;
    font-size: 2rem;
}

h1::before, h1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1::before {
    background: var(--bg-color);
    animation: effect var(--typewriter-speed) steps(var(--typewriter-chars)) 1s forwards;
}

h1::after {
    width: 0.25em;
    background: rgba(245, 245, 245, 0.801);
    animation: 
        effect var(--typewriter-speed) steps(var(--typewriter-chars)) 1s forwards,
        blink 650ms steps(var(--typewriter-chars)) infinite;
}

.night-btn {
    border: 2px solid white;
    padding:0.5 rem;
    outline:none;
    background-color: white;
    margin: 9px;
    color: black;
    cursor: pointer;
    height: 27px;
    width: 95px;
    transition: ease 0.5s;

}

.subtitle {
    margin: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: monospace;
    opacity: 0;
    transform: rotateY(3rem);
    animation: fadeup 2s ease calc(var(--typewriter-speed) + 2s) forwards;
}

@keyframes effect {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeup {
    to {
        opacity: 1;
        transform: rotateY(0);
    }
}

.search_topic {
    margin: 2.5vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 1rem;
}

.search_topic input[type = "text"] {
    width: 25vw;
    border: 0px solid transparent;
    background: transparent;
    text-align: center;
    font-family: monospace;
    color: rgb(18, 138, 44);
    font-size: 1.5rem;
    outline: none;
}

.function_wrap {
    width: max-content;
    color: rgb(98, 0, 255);
    font-size: 1.5rem;
    font-family: monospace;
    margin-bottom: 1rem;
}

.bracket {
    color: goldenrod;
}

.search_topic button[type = "button"] {
    border: 1px solid transparent;
    border-radius:10px ;
    padding: 0.8rem;
    outline: none;
    background:linear-gradient(135deg, #b1ea4d 0%,#459522 100%);
    margin: 12px auto;
    color:black;
    font-size: 1.1rem;
    cursor: pointer;
    transition: ease 0.5s;
}

.search_topic button[type = "button"]:hover {
    color: black;
    box-shadow: 0px 0px 20px 6px #6db53269;
    border: 1px solid transparent;
    border-radius:10px ;
    transition: ease 0.5s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 6vh;
}


.answer {
    font-family: sans-serif;
    font-size: 1.3rem;
    width: 60%;
    padding-bottom: 20px;
    color: rgb(205, 205, 205);
    border-radius: 0.5rem;
  background-color: rgb(19, 19, 19);
    transition: ease 700ms;
    transition: ease 0.5s;
}

.terminal-head{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.head-dot-holder{
    margin-left: 5px;
}

.output-zone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    font-size: 1rem;
}

.answer-sheet{
    width: 90%;
    height: 90%;
    word-wrap: break-word;
}

.copy_button {
    border: 1px  transparent;
    color: white;
    background: none;
    cursor: pointer;
    padding: 10px;
   
    border-radius: 50%;
 
    transition: ease 0.5s;
}

.bi-clipboard{
    font-size: 1rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-family: sans-serif;
    font-size: 1.3rem;
    padding: 1.5rem;
    padding-bottom: 0rem;
    text-align: center;
    color: #abd3ed;
    margin-top: 5vh;
}

.github{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.credits{
    font-size: 1.2rem;
}

.github span {
    padding: 0.5rem;
}

.link {
    color: rgb(18, 138, 44);;
    text-decoration: none;
}

.heart {
    color: red;
}


@media screen and (max-width: 480px) {
    .answer {
      width: 85%;
    }

    .function_wrap{
        font-size: 1.5rem;
    }
  }
.light-mode {
    color: black;
    background-color: white;
    
}